/* CSS focado em Grid com estilização simples de LMC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*:focus {
    outline: 2px solid #ffa500;
    background-color: #27ae60;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 20px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    align-items: center;
}

.banner-hero {
    background-color: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

.menu-container {
    padding: 40px 5%;
}

input[type="radio"] {
    display: none;
}

label {
    padding: 10px 30px;
    background-color: #eee;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

input:checked+label {
    background-color: #e67e22;
    color: white;
}

/* Sistema de exibição das telas */
.aba-tela {
    display: none;
}

#massa:checked~#tela-massas {
    display: block;
}

/* GRID DE PRODUTOS */
.grid-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 Colunas iguais */
    gap: 20px;
    margin-top: 30px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 150px;
}

.preco {
    display: block;
    margin: 10px 0;
    color: #e67e22;
    font-weight: bold;
}

.btn-pedir {
    background-color: #27ae60;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.rodape {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    text-align: center;
}

input:focus {
    outline: 2px solid blue;
    background-color: #f0f8ff;
    border-color: #0000ff;
}

a {
    /* Estilo base para todos os links */
    color: rgb(244, 240, 255);
    text-decoration: none;
    /* Remove o sublinhado */
}

a:visited {
    color: #6a0572;
    /* Roxo para links já visitados */
}

a:hover {
    color: #0056b3;
}

a:active {
    color: red;
    /* Vermelho enquanto o link está sendo pressionado */
}